%ol.breadcrumb
  %li= link_to 'projects', projects_path
  %li.active= @project.title

#task-form
  %button.btn.btn-primary.mb10{'v-on' => "click: isNew = !isNew"}
    %i.fa.fa-plus
  =render 'form'

%ul#task-list.list-group{data: {'project-id' => @project.id}}
  %li.list-group-item{'v-class' => "list-group-item-danger: task_type == 'release' && status != 'finished', list-group-item-success: status == 'finished'", 'v-repeat' => 'tasks'}
    %i.fa.fa-lg{'v-class' => 'fa-caret-right: !isEdit, fa-caret-down: isEdit', 'v-on' => 'click: edit(this)'}
    %i.fa.fa-star {{point}}
    %span {{passedTime}}
    %i.fa.fa-comment{'v-on' => "mouseenter: popover = true, mouseleave: popover = false"}
      .popover.bottom{'v-class' => 'static-popover: popover'}
        %h3.popover-title {{title}}
        .popover-content
          %p {{description}}
    %span {{title}}
    %button.btn.pull-right.btn-xs.status-button{'v-show' => "status != 'finished'", 'v-class' => "btn-default: status == 'unstarted', btn-primary: status == 'started'", 'v-on' => 'click: updateStatus(this)'} {{status | status}}
    =render 'form'
