%form.form-horizontal{'v-show' => 'isEdit || isNew', ' v-validate' => true}
  %span.glyphicon.glyphicon-trash{'v-show' => 'isEdit', 'v-on' => 'click: destroy(this)'}

  .form-group
    %label.col-sm-2.control-label
      %span Type
      %i.fa.fa-asterisk
    .col-sm-10
      %select.form-control{'v-model' => 'task_type | required'}
        %option feature
        %option release

  .form-group
    %label.col-sm-2.control-label
      %span Point
      %i.fa.fa-asterisk
    .col-sm-10
      %select.form-control{'v-model' => 'point | required | numeric min:0 max:3'}
        %option 0
        %option 1
        %option 2
        %option 3

  %input{type: 'hidden', 'v-model' => 'status | required', value: 'unstarted'}

  .form-group
    %label.col-sm-2.control-label
      %span Title
      %i.fa.fa-asterisk
    .col-sm-10
      %input.form-control{type: 'text', 'v-model' => 'title | required'}

  .form-group
    %label.col-sm-2.control-label Description
    .col-sm-10
      %textarea.form-control{rows: 5, 'v-model' => 'description'}

  .form-group
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-default{type: 'button', 'v-on' => 'click: save(this)', 'v-attr' => 'disabled: !$valid'}Save
      %button.btn.btn-default{type: 'button', 'v-on' => 'click: close(this)', 'v-show' => 'isEdit'}Cancel
      %button.btn.btn-default{type: 'button', 'v-on' => 'click: clear()', 'v-show' => 'isNew'}Clear
